body{
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#img{
    border-radius: 100%;
}
h1{
    margin-top: 0px;
    font-family: 'Satisfy', cursive;
    font-size: 300%;
    color: #009c94;
    line-height: 2;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
h2{
    color: #009c94;
}
h3{
    color: #009c94;
}
#study{
    text-align: center;
}
.para{
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
    color: #009c94;
}
.top-container {
    background-color: rgb(156, 226, 226); 
    padding-top: 100px;    
}

.bcloud{
    position: absolute;
    left: 300px;
    bottom: 400px;
}
.tcloud{
    position: absolute;
    right:370px;
    top: 60px;
}
.skill{
    border-radius: 100%;
    width: 35%;
    float: left;
    margin-right: 30px;
}
.education{
    border-radius: 100%;
    width: 35%;
    float: left;
    margin-right: 30px;
}
.hobby{
    border-radius: 100%;
}
.pubg{
    border-radius: 100%;
    width: 35%;
    float: right;
    margin-left: 30px;
}
hr{
    border-style: none;
    width: 4%;
    border-style: dotted none none;
    border-color: #455d7a;
    border-width: 4px;
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.btn:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.btn:active {
	position:relative;
	top:1px;
}

       .bottom-container{
           margin-top: 40px;
           background-color: rgb(156, 226, 226); 
           padding: 50px 0 20px;
       }
       a{
        color: #009c94;
        margin:10px 20px ;
        text-decoration: none;
       }
       a:hover{
           color:ivory ;
       }
       .copyryt{
           color: ivory;
           font-size: 0.75rem;
       }